<template name="postForm">

  <div class="posts">
    <div class="post">
      <div class="post-content">
        <h3 style="color: #337ab7">Add Post:</h3>
        <form class="form-inline">
          <div class="question-group">
            <input type="text" name="title" class="form-control" placeholder="title">
            <input type="text" name="url" class="form-control" placeholder="url">
            <button type="submit" class="btn btn-sm btn-default">Add Post</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>